<link rel="stylesheet" href="../static/css/bootstrap.css">
<link href="../static/css/mycss.css" rel="stylesheet">


  
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>

<script src="../static/jquery/jquery-1.12.2.min.js"></script>

<script src="../static/js/bootstrap.min.js"></script>
  

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">



<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.12.0.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" 
 src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js">
</script>
<script type="text/javascript" 
 src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js">
</script>
<script type="text/javascript" 
 src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js">
</script>


<script type="text/javascript" 
 src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js">
</script>

<script type="text/javascript" 
 src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js">
</script>
<script type="text/javascript" 
 src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js">
</script>
<script type="text/javascript" 
 src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js">
</script>
<script type="text/javascript" 
 src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js">
</script>
<script type="text/javascript" 
 src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js">
</script>


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>    <!-- preserve the order of scripts -->


  <script src="../static/js/bootstrap-modalmanager.js"></script>
  <script src="../static/js/bootstrap-modal.js"></script>
  <link href="../static/css/bootstrap-modal.css" rel="stylesheet" type="text/css" media="all" />

<style type="text/css">
  .modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


    .modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}


#tallModal .modal-body p { margin-bottom: 900px }
</style>
