<br><br><br><br><br><br><br>
<div class="row">
	<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-3">
		{% if current_user.is_authenticated %}
		<h3> You are logged in as {{current_user.username}} </h3>
		{% else %}
		<p style="font-size: 20px;padding-left: 40%;">Login</p> 
		<br>
		<form  method="POST">    
			 {{ form.csrf_token }}                                                                              
			<div class="form-group">
				 {{ form.username}}
			</div>
			<div class="form-group">
				 {{ form.password }}
			</div>
			<div class="row">	
				<br>		
				<div class="col-xs-offset-5">
					<input type="Submit" class="btn btn-default" value="Login">
				</div>
			</div>
		</form>
		{% endif %}
	</div>
</div>

